/*
#303841 : Black
#3a4750 : Grey
#00adb5 : Cyan
#eeeeee : White
*/

html{
    background-color: #303841;
    color: #eeeeee;
    font-family: 'Sriracha';
}

a{
    color: #00adb5;
}

.head{
    font-family: 'Sriracha';
    font-size: 50px;
    text-align: left;
    padding-left: 250px;
    padding-top: 150px;
    -webkit-animation: fadein 1s; 
}

.body{
    font-size: x-large;
    font-family: 'Sriracha';
    text-align: left;
    padding-left: 275px;
    -webkit-animation: fadein 1.5s; 
}

.bodyLink{
    font-size: x-large;
    font-family: 'Sriracha';
    text-align: left;
    -webkit-animation: fadein 1.5s; 
    text-decoration: underline;
    margin-right: -250px;
    margin-left: 270px;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#Socials{
    padding-top: 35px;
    padding-left: 20px;
    -webkit-animation: fadein 1.5s;
}

#socialsIndex{
    padding-top: 200px;
    padding-left: 20px;
    -webkit-animation: fadein 1.5s;
}

.bodyPortfolio{
    font-size: x-large;
    font-family: 'Sriracha';
    text-align: left;
    padding-left: 295px;
    -webkit-animation: fadein 1.5s; 
}

.projectNames{
    font-size: x-large;
    font-family: 'Sriracha';
    text-align: left;
    padding-left: 315px;
    -webkit-animation: fadein 1.5s; 
}

#socialsBlog{
    padding-top: 245px;
    padding-left: 20px;
    -webkit-animation: fadein 1.5s;
}

.also{
    font-size: x-large;
    font-family: 'Sriracha';
    text-align: left;
    padding-left: 335px;
    -webkit-animation: fadein 1.5s; 
}

@media only screen and (max-width:1500px)
{
    
} 

@media only screen and (max-width:800px)
{
    .head{
        font-family: 'Sriracha';
        font-size: 50px;
        text-align: left;
        padding-left: 20px;
        padding-top: 150px;
        -webkit-animation: fadein 1s; 
    }
    
    .body{
        font-size: x-large;
        font-family: 'Sriracha';
        text-align: left;
        padding-left: 30px;
        -webkit-animation: fadein 1.5s; 
    }

    #socialsBlog{
        padding-top: 130px;
        padding-left: 20px;
        -webkit-animation: fadein 1.5s;
    }

    .projectNames{
        font-size: x-large;
        font-family: 'Sriracha';
        text-align: left;
        padding-left: 45px;
        -webkit-animation: fadein 1.5s; 
    }

    .also{
        font-size: x-large;
        font-family: 'Sriracha';
        text-align: left;
        padding-left: 60px;
        -webkit-animation: fadein 1.5s; 
    }

    .bodyLink{
        font-size: x-large;
        font-family: 'Sriracha';
        text-align: left;
        -webkit-animation: fadein 1.5s; 
        text-decoration: underline;
        margin-right: -40px;
        margin-left: 55px;
    }

    #socialsIndex{
        padding-top: 165px;
        padding-left: 20px;
        -webkit-animation: fadein 1.5s;
    }
}
