head,body{
    background-image: url(images/backgroundgradient.jpg);
    height: 1600px;
}

html{
    scroll-behavior: smooth;
}

#IntroAbout{
    text-align: center;
    font-family: LexendZetta  ,Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    padding-top: 250px;
}

#shortabout{
    text-align: center;
    font-family: Amiri , Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: whitesmoke;
    padding-top: 370px;
}

#Nav{
    text-align: center;
    font-family: LexendZetta , Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

#home{
    position: absolute;
    right: 20px;
    top: 20px;
}

#contact{
    position: absolute;
    right: 140px;
    top: 20px;
}

#portfolio{
    position: absolute;
    right: 282px;
    top: 20px;
}

#CHead{
    text-align: center;
    font-family: LexendZetta , Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    padding-top: 250px;
}

#contactmore{
    text-align: center;
    font-family: Amiri , Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: whitesmoke;
    padding-top: 360px;
}

#PHead{
    text-align: center;
    font-family: LexendZetta , Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    padding-top: 250px;
}

#PMore{
    padding-top: 370px;
}

.selected{
    color: whitesmoke;
    font-family: LexendZetta ,Arial, Helvetica, sans-serif;
}

.textlink{
    color: whitesmoke;
    font-family: Amiri , Arial, Helvetica, sans-serif;
}